{% extends 'base.html' %}

{% block content %}

<h1>Feedback</h1>
<p> <strong>I value your input!</strong> </p>

<p>Have questions or feedback? I'd love to hear from you! Reach me out for assistance, partnership opportunities, or to share your ideas and suggestions. Together, we can make a difference in fire safety.</p>
<p>Your feedback is crucial in helping me enhance the effectiveness and usability of my fire detection system.</p>
<p>You can reach me through these platforms:</p>
<p>
<a href="mailto:hossamrizk048@gmail.com">Gmail</a>
    <a href="https://www.linkedin.com/in/hossamrizk10/">Linkedin</a>
    <a href="https://github.com/hossamrizk">Github</a>
    <a href="https://www.kaggle.com/hossamrizk">Kaggle</a>
</p>

<p>Thank you for visiting the Fire Detection and Alert System platform. Together, let's work towards a safer, fire-free future for all.</p>

{% endblock %}